<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">Mukiwa</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" aria-current="page">Home</a>
        <a class="nav-link" [routerLink]="['/create-data']" routerLinkActive="active">Crear Turno</a>
        <a class="nav-link" [routerLink]="['/list-data']" routerLinkActive="active">Lista Turnos</a>
        <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active">Estadísticas</a>
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active" *ngIf="!loggedIn()">Iniciar sesión</a>
      </div>
    </div>
  </div>
</nav>
