<div class="container mt-5">
  <form [formGroup]="googleSheetForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" placeholder="Nombre" formControlName="nombre">
    </div>

    <div class="mb-3">
      <label for="telefono" class="form-label">Telefono</label>
      <input type="number" class="form-control" id="telefono" placeholder="Telefono" formControlName="telefono">
    </div>

    <div class="mb-3">
      <label for="barbero" class="form-label">Barbero</label>
      <select class="form-select" id="barbero" formControlName="barbero">
        <option value="" selected disabled>Selecionar barbero</option>
        <option value="Bruno">Bruno</option>
        <option value="Ramiro">Ramiro</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="servicio" class="form-label">Servicio</label>
      <select class="form-select" name="form-select" id="servicio" formControlName="servicio">
        <option value="" selected disabled>Selecionar el servicio</option>
        <option value="corte">Corte</option>
        <option value="barba">Barba</option>
        <option value="corte-barba">Barba y Corte</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="horario" class="form-label">Horario</label>
      <input type="time" class="form-control" id="horario" placeholder="horario" formControlName="horario">
    </div>

    <div class="mb-3">
      <label for="fecha" class="form-label">Fecha</label>
      <input type="date" class="form-control" id="fecha" placeholder="MM/DD/YYYY" formControlName="fecha">
    </div>

    <div class="mb-3">
      <label for="precio" class="form-label">Precio</label>
      <input type="number" class="form-control" id="precio" placeholder="Precio" formControlName="precio">
    </div>

    
    <div class="text-center">
      <button class="btn btn-success mt-3" type="submit">Agregar Turno</button>
    </div>

  </form>
</div>
